@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
  font-size: 25px !important;
  --primary-blue: #313d94;
}

* {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: white;
}

body {
  background-color: linear;
  background: linear-gradient(to right, rgb(0, 0, 0) 0%, rgb(50, 54, 141) 100%);
}

.text-blue {
  color: var(--primary-blue);
}

.bg-blue {
  background-color: var(--primary-blue);
}

.hero-section {
  height: 100vh;
}


.hero-content {
  max-width: 1000px;
}

.video-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -1;
}
.video-background video {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.section-title {
  line-height: 2rem;
}

.button-action:hover {
  opacity: 0.7;
}

.navbar {
  bottom: 0;
}

.navbar-list {
  position: sticky;
  top: 0;
  z-index: 10;
  transition: all 0.2s ease-in-out 0.25s;
}

.nav-hamburger {
  width: 2rem;
  border: none;
  background: none;
}

.icon-bar {
  background-color: #0e4968;
  border-radius: 1rem;
  height: 0.25rem;
  width: 100%;
}

.logo-section {
  height: 0;
}

.logo-wrapper {
  width: fit-content;
  border-radius: 100vw 100vw 0 0;
  transform: translateY(-100%);
  max-width: 50%;
  /* max-height: 100px; */
}

.logo-photo {
  max-height: 170px;
}

.contact-us-today {
  line-height: 2rem;
}

.cash-value {
  font-size: 5rem;
  font-weight: 900;
}

.off-text {
  font-size: 3rem;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  color: white;
  font-weight: 700;
  text-shadow:
    -3px -3px 0 var(--primary-blue),  /* Larger offset */
    3px -3px 0 var(--primary-blue),
    -3px 3px 0 var(--primary-blue),
    3px 3px 0 var(--primary-blue);
}

.off-text::after{
  content: 'OFF';
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  z-index: 5;
  color: var(--primary-blue);
}

.promo-card-wrapper {
  background: linear-gradient(to bottom, #f9f9fb 0%, #d8dae3 100%);
}

.promo-book-btn {
  background: linear-gradient(to right, #033064 0%, #465beb 100%);
}

.promo-right-side {
  max-width: 800px;
}

.promo-guy {
  /* max-width: 700px; */
  max-width: 100%;
  max-height: 700px;
}

.customer-satisfaction-content {
  max-width: 1500px;
}

.customer-satisfaction-left-side {
  max-width: 600px;
}

.aircon-guy {
  max-width: 100%;
}

.accreditation-img-wrapper {
  border-radius: 0 1rem 1rem 0;
  max-width: 700px;
}

.services-card {
  background: linear-gradient(to bottom, #ffffff 0%, #a2a5ae 100%);
}

.services-card-border {
  background: linear-gradient(to bottom, #ffffff 0%, #63697b 100%);
}

.service-img-border {
  padding: 0.3rem;
  background: linear-gradient(to right, #033064 0%, #465beb 100%);
}

.services-img-wrapper {
  max-width: min(100%, 300px);
  aspect-ratio: 1 / 1;
  transform: translateY(-1rem);
}

.services-img {
  object-fit: cover;
}

.waterless-geo-img {
  position: absolute;
  bottom: 0.5rem;
  left: 0;
  width: 80%;
  transform: translateX(15%);
}

.testimonial-card-wrapper {
  /* max-width: 800px; */
  background: linear-gradient(to bottom, #ffffff 0%, #63697b 100%);
}

.testimonial-card {
  background: linear-gradient(to bottom, #ffffff 0%, #c4c6d3 100%);
}

.contact-form-input {
  color: var(--primary-blue);
  outline: none;
  border: none;
}

.contact-input-wrapper {
  background: linear-gradient(to bottom, #ffffff 0%, #63697b 100%);
}

.footer {
  padding-top: clamp(2rem, 0.88rem + 50vw, 30rem) !important; 
}

.social-media-link {
  max-width: 60px;
}

.gear-bg {
  bottom: 0;
  z-index: -1;
  margin: 0;
}

.partner-card img {
  max-height: 150px !important;
  width: auto;
}


/* swiper */
.swiper {
  width: 100%;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: auto;
  align-self: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
}


@media screen and (max-width: 992px) {
  :root{
    font-size: 16px !important;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    background-color: #ffffff;
    padding-top: 3rem !important;
    margin-top: 5rem;;
  }
}

@media screen and (max-width: 1200px) {
  :root{
    font-size: 20px !important;
  }
}
