:root {
    --primary-color: #1c2331;
    --secondary-color: #333333;
    --accent-color: #02718a;
    --background-color: #f7fafc;
    --header-color: #808080;
    --card-header-color: #036886;
    --card-header-color1: #2f4f4f;
    --delete-btn-color: rgb(246, 51, 51);
    --view-btn-color: #26cad3;
    --edit-btn-color: rgb(24, 221, 80);
    --mg-bottom-10: 20px;
    --blue: #2777a9;
    --indigo: #5603ad;
    --purple: #8965e0;
    --pink: #f3a4b5;
    --red: #ef4444;
    --orange: #fb6340;
    --yellow: #ffd600;
    --green: #2dce89;
    --teal: #11cdef;
    --cyan: #2bffc6;
    --gray: #666769;
    --gray-dark: #5b5c5e;
    --light: #ced4da;
    --lighter: #f4f4f4;
    --primary: #1A222F;
    --secondary: #f7fafc;
    --success: #2ac582;
    --info: #11cdef;
    --warning: #db9d00;
    --danger: #ef4444;
    --light: #adb5bd;
    --dark: #212529;
    --default: #172b4d;
    --white: #fff;
    --darker: #000;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(22rem, 1fr)); /* Change this line */
    grid-template-rows: 220px;
    grid-gap: 30px;
}
.u-fw-b {
    font-weight: bold;
}

.u-fw-400 {
    font-weight: 400;
}
.u-fw-500 {
    font-weight: 500;
}
.u-fw-600 {
    font-weight: 600;
}

.u-flex {
    display: flex;
}

.u-t-white {
    color: var(--white);
}

.u-t-dark {
    color: var(--dark);
}

.u-t-primary {
    color: var(--primary);
}

.u-t-success {
    color: var(--success);
}

.u-t-warning {
    color: var(--warning);
}

.u-t-center {
    text-align: center;
}

.u-t-gray {
    color: var(--gray);
}

.u-t-gray-dark {
    color: var(--gray-dark);
}

.u-t-danger {
    color: var(--danger);
}

.u-bg-accent {
    background-color: var(--accent-color);
}

.u-bg-danger {
    background-color: var(--danger);
}

.u-bg-primary {
    background-color: var(--primary);
}
.u-action-btn {
    padding: 5px 10px;
    color: var(--white);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.u-action-btn:hover {
    opacity: 0.7;
}
.u-bg-default {
    background-color: var(--lighter);
}

.u-bg-white {
    background-color: var(--white);
}

.u-bg-success {
    background-color: var(--success);
}

.u-bg-warning {
    background-color: var(--warning);
}

.u-bg-dm-dark {
    background-color: #191b21 !important;
}

.u-bg-dm-l-dark {
    background-color: #272c36 !important;
}

.u-t-dm-white {
    color: #f6f7f9 !important;
}

.u-border-1-gray {
    border: 1px solid #b9b9b9 !important;
}

.u-p-5 {
    padding: 0.125rem;
}

.u-p-10 {
    padding: 0.625rem;
}

.u-p-15 {
    padding: 0.938rem;
}
.u-ml-13{
    margin-left: 0.813rem;
}
.u-ml-14{
    margin-left: 0.875rem;
}
.u-ml-15{
    margin-left:0.9375rem;
}

.u-pt-5 {
    padding-top: 0.5rem;
}

.u-p-10-15 {
    padding: 0.625rem 1.6rem;
}

.u-ptb-10 {
    padding: 0.625rem 0;
}

.u-pl-16 {
    padding-left: 1rem;
}
.u-pl-80 {
    padding-left: 5rem;
}
.u-pr-80 {
    padding-right: 3rem;
}
.u-pr-16 {
    padding-right: 6rem;
}

.u-mt-5 {
    margin-top: 0.5rem;
}
.u-ml-80 {
    margin-left: 5rem;
}


.u-mt-10 {
    margin-top: 0.625rem;
}

.u-mt-15 {
    margin-top: 0.9375rem;
}
.u-mtb-15 {
    margin-top: 0.9375rem;
    margin-bottom: 0.9375rem;
}

.u-mt-16 {
    margin-top: 1rem;
}

.u-mt-25 {
    margin-top: 1.56rem;
}

.u-m-5 {
    margin: 0.625rem;
}

.u-m-10 {
    margin: 0.625rem;
}

.u-mb-16 {
    margin-bottom: 1rem;
}

.u-mb-5 {
    margin-bottom: 0.5rem;
}

.u-mb-10 {
    margin: 0.625rem;
}
.u-mb-16 {
    margin-bottom: 1rem;
}
.u-mb-80 {
    margin-bottom: 5rem;
}

.u-mr-5 {
    margin-right: 0.5rem;
}

.u-mr-10 {
    margin-right: 0.625rem;
}

.u-mr-16 {
    margin-right: 1rem;
}

.u-gap-10{
    gap: 0.625rem;
}
.u-gap-16{
    gap: 1rem;
}
.u-gap-5{
    gap: 5rem;
}
.u-border-bottom-1 {
    border-bottom: 1px solid #ddd;
}

.u-border-top-1 {
    border-top: 1px solid #ddd;
}

.u-flex-end {
    display: flex;
    justify-content: end;
}

.u-flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.u-flex-center-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.u-flex-center-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.u-flex-space-between {
    display: flex;
    justify-content: space-between;
}

.u-flex-alignIt-center {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.u-flex-alignIt-end {
    display: flex;
    align-items: end;
    flex-wrap: wrap;
}

.u-flex-wrap {
    flex-wrap: wrap;
}

.u-align-items-center {
    align-items: center;
}

.u-j-content-center {
    justify-content: center;
}

.u-space-around {
    justify-content: space-around;
}

.u-flex-direction-column {
    flex-direction: column;
}

.u-flex-1 {
    flex: 1;
}

.u-border-radius-5 {
    border-radius: 0.3rem;
}

.u-btn {
    padding: 0.6rem 1rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    box-shadow: 0 6px 8px -1px rgba(59, 113, 202, 0.1),
        0 3px 6px -2px rgba(59, 113, 202, 0.5);
    font-size: 1rem;
}

.u-btn:hover {
    opacity: 0.7;
}

.u-btn-active {
    background-color: #dadada !important;
}

.u-a-tag {
    display: inline-block;
    padding: 0.6rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.u-record {
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 0.07rem 0.5rem;
    border-radius: 50%;
    background-color: var(--danger);
}

.u-border-1-default {
    border: 1px solid #ddd;
}

.u-hide {
    display: none;
}

.u-box-shadow-default {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.u-box-shadow-medium {
    box-shadow: rgba(99, 99, 99, 0.5) 0px 2px 8px 0px;
}

.u-box {
    margin: auto;
    min-height: auto;
    width: 100%;
    background-color: #fff;
    animation: fadeIn 0.3s ease;
    padding-bottom: 20px;
    border-radius: 5px;
}

/* Modal */
.modal-center {
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    padding: 1rem;
    z-index: 1;
    overflow-y: auto;
}

.modal-box {
    margin: auto;
    min-height: auto;
    width: 100%;
    max-width: 600px;
    background-color: #fff;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    animation: fadeIn 0.3s ease;
    border-radius: 10px;

}

.modal-content {
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.custom_table_header{
    font: bold;
    font-size: 1.3rem;
    padding: 1.0rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;    
    background: #EEF1F4;
}

.max-width-1400 {
    max-width: 1400px;
}
.min-height-70{
    min-height:70vh;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Table */
.custom_sm_normal_table {
    /* width: 100%; */
    border-collapse: collapse;
}

.custom_sm_normal_table th,
.custom_sm_normal_table td {
    text-align: left;
    width: 235px;
    font-size: 14px;
}

.custom_sm_normal_table td {
    padding: 10px;
}

.custom_sm_normal_table tr td:nth-child(odd) {
    font-weight: bold;
    color: #4d4b4b !important;
}

.custom_form_table,
.custom_normal_table {
    width: 100%;
    border-collapse: collapse;
}
.custom_form_table{
    padding: 20px;
}

.custom_form_table th,
.custom_normal_table th,
.custom_normal_table td {
    text-align: left;
    width: 100px;
    font-size: 14px;
}

.custom_form_title {
    text-align: end !important;
    width: 25%;
}
.custom_form_body{
    width: 80%;
}

.custom_form_title span{
    font-size: 16px;
    font-weight: bold;
}



.custom_form_table tr{
    gap: 5rem;
}
.custom_form_table td{
    padding: 20px;
}
.custom_normal_table td {
    padding: 10px;
}

.custom_form_table td p,
.custom_normal_table td p {
    font-weight: bold;
    color: #4d4b4b !important;
    margin-bottom: 10px;
    font-size: 1rem;
}

.custom_table {
    width: 100%;
    border-collapse: collapse;
    background-color: #f9f9f9;
    border-radius: 5px !important;
}

.custom_table th,
.custom_table td {
    border: 1px solid #ddd;
    text-align: left;
    width: 300px;
    font-size: 14px;
}

.custom_table td {
    padding: 10px;
}

.custom_table td p {
    font-weight: bold;
    color: #4d4b4b !important;
    margin-bottom: 10px;
    font-size: 1rem;
}

.add_user_success {
    margin-top: 14px;
    font-size: 14px;
    color: green;
}

/* Action Btns */
.action-btn {
    height: 2rem;
    width: 2rem;
    border: 1px solid transparent;
    cursor: pointer;
    border-radius: 5px;
}

.action-btn:hover {
    opacity: 0.7;
}
.u-input {
    height: 2.5rem;
    width: 100%;
    border: 1px solid transparent;
    padding: 0 10px;
    border-radius: 5px;
    color: #3c3b3b;
    font-size: 1rem;
    outline: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: 1px solid #b3b9c2;
}

.u-input:focus {
    border: 2px solid #000000;
}

/* Statistic box */
.s-box {
    min-height: 5rem;
    flex: 1 0 auto; /* Initially, allow items to grow but not shrink */
    width: 15rem;
    min-width: 15rem;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    overflow: hidden;
}

.s-box-sm {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: #fff;
}

.user-profile-box {
    min-height: 11rem;
    border-radius: 5px;
    overflow: hidden;
}

.flex-1 {
    flex-grow: 6;
    flex-basis: 700px;
}

.flex-2 {
    flex-grow: 4;
    flex-basis: 500px;
}

.swal2-toast {
    background: linear-gradient(to right, #437e83, #39676a) !important;
    color: #fff;
}

.ss-main:focus {
    box-shadow: none !important;
}

.login-container{
    width: 87rem;
    padding: 20px;
    margin: auto;
}
.main-card-body{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    max-width: 87rem;
    min-height: 70vh;
    overflow: auto;
}
.login-card-container{
    max-width: 43.5rem;
    width: 100%
}
.login-card-container img {
    max-width: 100%;
    width: 500px;
}
.login-card-body{
    width: 100%;
    max-width: 500px;
    height: 450px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    overflow: auto;
    padding:20px;
    background: #ffffff;
    border-radius: 20px;
}
.background-container-gradient {
    background: linear-gradient(to left, #1F51A4, #0987CF);
}

.login-input{
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.6;
    color: var(--bs-body-color);
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
}

.login-input:focus {
    outline: none;
    border-color: #1C58A9; 
}
.login-title-text{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}
.login-title-text span{
    font-family: 'Roboto', sans-serif;
}

.remember-password-containter{
    gap: 5px;
}

.button-container button{
    width: 100%;
}
.u-textarea{
    height: 5rem;
    width: 100%;
    border: 1px solid transparent;
    padding: 0 10px;
    border-radius: 5px;
    color: #3c3b3b;
    font-size: 1rem;
    outline: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: 1px solid #b3b9c2;
    resize: none;
}
.u-textarea:focus {
    border: 2px solid #000;
}

/*  Mayrick Home Page */
.main-container{
    box-shadow: 0 5px 10px rgba(109, 109, 109, 0.349) !important;
}
.container-header{
    display: flex;
    align-items: center;
    font: bold;
    font-size: 1.3rem;
    padding: 1.0rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;    
    background: #eef1f4;
    margin: 0px;
}
.container-body{
    /* height: 600px; */
    padding: 20px;
}

.container-body-profile{
    padding: 30px;
    margin-right: 60px;
}
.myTable{
    border-collapse: collapse;
    width: 100%;
    max-width: 1200px; 
    margin: auto;
    margin-top: 2rem;
    border-radius: 5px 5px 0px 0px;
    overflow: hidden;
}
.myTable thead tr{
    font-weight: bold;
    font-size: 14px;
    background: #eeeeee;
    color: black;
    text-align: left;
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; */
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    }
.myTable th,
.myTable td{
    padding: 12px 15px;
}

.myTable tbody tr{
    border-bottom: 1px solid rgb(207, 205, 205)
}
.myTable tbody tr:nth-of-type(even){
    background: #f7f4f4
}
.myTable tbody tr:last-of-type{
    border-bottom: 2px solid #011627;
}
.myTable tbody tr .active-row{
    font-weight:bold;
    color: #011627;  
}
.table-responsive {
    scrollbar-color: #888 #f1f1f1; /* thumb color and track color */
    scrollbar-width: thin; /* scrollbar width */
}
.file-upload-button{
    margin-top: 20px; 
}

.text-truncate {
    max-width: 200px; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


/* Myrick login page */
.login-container{
    width: 87rem;
    padding: 20px;
    margin: auto;
}
.main-card-body{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    max-width: 87rem;
    min-height: 70vh;
    overflow: auto;
    display: flex;
    /* flex-direction: column-reverse;
    justify-content: center;
    align-items: center; */
}

.login-card-container{
    max-width: 43.5rem;
    width: 100%
}
.login-card-container img {
    max-width: 100%;
    width: 500px;
}
.login-card-body{
    width: 100%;
    max-width: 500px;
    height: 450px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    overflow: auto;
    padding:20px;
    background: #ffffff;
    border-radius: 20px;
}
.background-container-gradient {
    background: linear-gradient(to right, #030409, #1f2a3a);
}

.login-input{
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.6;
    color: var(--bs-body-color);
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
}

.login-input:focus {
    outline: none;
    border-color: #1C58A9; 
}
.login-title-text{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}
.login-title-text span{
    font-family: 'Roboto', sans-serif;
}

.remember-password-containter{
    gap: 5px;
}

.button-container button{
    width: 100%;
}


/* Profile */

.profile-container{
    display: flex;
    align-items: center;
    gap: 5rem;
}
.profile-body,
.profile-header{
    border: 1px solid black;
    padding: .6rem;
}
.change-photo-container{
    display: flex;
    gap: 500px;
}

.user-img-profile{
    width: 150px;
    border-radius: 100%;
    border: 3px solid rgb(160, 160, 160);
}


.custom_form_password{
    border-top: 1px solid rgb(193, 189, 189);
}


@media (max-width: 1065px) {
.main-card-body {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}
.login-card-container{
    padding:10px;
}
.login-container{
    padding: 0px;
}

.login-card-container img {
    width: 70%;
}
}


/* Use a media query to apply styles for smaller screens */
@media only screen and (max-width: 500px) {
    /* Set the table row (tr) to be displayed as a block */
    .custom_table tr,
    .custom_form_table tr,
    .custom_normal_table tr,
    .custom_sm_normal_table tr {
        display: block;
    }

    /* Hide table headers on smaller screens */
    .custom_table th,
    .custom_form_table th,
    .custom_normal_table th,
    .custom_sm_normal_table th {
        display: none;
    }

    /* Style table data (td) for smaller screens */
    .custom_table td,
    .custom_form_table td,
    .custom_normal_table td,
    .custom_sm_normal_table {
        display: block;
        text-align: left;
        width: 100%;
    }

    .customer-box-header-container {
        flex-direction: column;
        gap: 30px;
    }
}


